body {
  margin: 0;
  // background-image: linear-gradient(#0c1421, #04060b);
  background: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

svg {
  max-width: 75vw;
  max-height: 80vh;
  padding-bottom: 2%;
}
