html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* --- Styles --- */
body {
  margin: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0c1421), to(#04060b));
  background-image: linear-gradient(#0c1421, #04060b);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

svg {
  width: 60%;
  max-height: 50%;
}
